html, body{
    margin: 0;
}

header{
    background-color: #f55a5a;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    display: flex;
    height: 55px;
}

header > img{
    width: 30px;
    margin-right: 10px;
}

article.journal-entry{
    display: flex;
    margin-bottom: 30px;
}

article.journal-entry .marker{
    width: 10px;
    margin-right: 5px;
}

.main-image-container{
    width: 125px;
    height: 170px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 20px;
}

img.main-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container span.state{
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a{
    color: #2b283a;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}